<?xml version="1.0" encoding="UTF-8"?>
<configuration>

	<appender name="consoleAppender" class="ch.qos.logback.core.ConsoleAppender">
		<encoder>
			<Pattern>%-5level %msg %d{HH:mm:ss.SSS} %logger{36} %n</Pattern>
		</encoder>
	</appender>

	
	<logger name="net.kzn" level="DEBUG" additivity = "false">
		<appender-ref ref="consoleAppender"/>	
	</logger>	

	<root level="INFO">
		<appender-ref ref="consoleAppender"/>
	</root>

</configuration>